@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap');


@font-face {
  font-family: D-DIN-Medium;
  src: url(./fonts/D-DIN.woff2) format("woff2"),url(./fonts/D-DIN.woff) format("woff"),url(./fonts/D-DIN.otf) format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: block
}

@font-face {
  font-family: D-DIN-Light;
  src: url(./fonts/D-DIN.woff2) format("woff2"),url(./fonts/D-DIN.woff) format("woff"),url(./fonts/D-DIN.otf) format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: block
}

@font-face {
  font-family: D-DIN-Bold;
  src: url(./fonts/D-DIN-Bold.woff2) format("woff2"),url(./fonts/D-DIN-Bold.woff) format("woff"),url(./fonts/D-DIN-Bold.otf) format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: D-DIN-Regular;
  src: url(./fonts/D-DIN.woff2) format("woff2"),url(./fonts/D-DIN.woff) format("woff"),url(./fonts/D-DIN.otf) format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Familjen Grotesk', sans-serif;
  background: #000;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

/* Header/Navbar */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  height: 100px;
  padding: 0 30px;
}

/* Logo */
.logo {
  width: 210px;
  height: auto;
}

.logo img {
  display: block;
  width: 100%;
  height: auto;
}

/* Desktop Menu */
.desktop-main-menu {
  margin-right: 50px;
}

.desktop-main-menu ul {
  display: flex;
}

.desktop-main-menu ul li {
  position: relative;
  margin-right: 20px;
  padding-bottom: 2px;
}

/* Menu item bottom border */
.desktop-main-menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: right center;
}

.desktop-main-menu ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
  transition-duration: 0.4s;
}

/* Sections */
section {
  position: relative;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
}

.section-inner {
  position: absolute;
  bottom: 200px;
  left: 150px;

}
.inner_card{
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 20px;
  color: #cbd5e1;
  background: rgba(255, 255, 255, 0.095);
  box-shadow: inset 2.01px -2.01px 20px rgba(214, 214, 214, 0.17), inset -3.01333px 3.01333px 3.01333px rgba(255, 255, 255, 0.39);
  backdrop-filter: blur(70px);
  padding: 20px 20px 30px;
}

.section-inner h4 {
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: 300;
  animation: fadeInUp 0.5s ease-in-out;
}

.section-inner h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  animation: fadeInUp 0.5s ease-in-out 0.2s;
  animation-fill-mode: both;
}
.inner_desc{
  font-size: 14px;
  font-weight: 300;
  animation: fadeInUp 0.5s ease-in-out 0.2s;
  animation-fill-mode: both;

}

.section-inner a {
  animation: fadeInUp 0.5s ease-in-out 0.4s;
  animation-fill-mode: both;
}

/* Background images */
.gallery-background{
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: auto;
  bottom: 100px;
}
.gallery-full{
  height: 100%;
  bottom: 0;
}
.gallery-background video{
  will-change: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.background-video-contain video, .background-video-cover video, .gallery-background video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.section-a {
  background-image: url('./img/section-f.webp');
}
.section-b {
  padding-top: 40px;
  background-image: url('./img/section-b.jpeg');
}
.section-c {
  padding-top: 40px;
  background-image: url('./img/section-c.jpg');
}
.section-d {
  background-image: url('./img/section-d.webp');
}
.section-e {
  background-image: url('./img/section-e.webp');
}
.section-f {
  background-image: url('./img/section-f.jpg');
}

.btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  min-width: 130px;
  padding: 15px 50px;
  margin-top: 10px;
  border: 2px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;
  z-index: 2;
}

.btn:hover span {
  color: #000;
}

.btn .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #000;
  z-index: -1;
  transform: translateY(100%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:hover .hover {
  transform: translateY(0);
}

.scroll-arrow {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  animation: fadeBounce 5s infinite;
}

/* Footer */
footer {
  position: relative;
  padding: 55px 0;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer ul li {
  margin-right: 30px;
  color: #aaa;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 2.5;
}

footer ul li a {
  color: #fff;
  transition: color 0.6s;
}

footer ul li a:hover {
  color: #aaa;
}

/* Hamburger Menu */
.hamburger {
  position: fixed;
  top: 40px;
  right: 20px;
  z-index: 10;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 20px;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(5px);
}

.hamburger-bottom {
  transform: translateY(10px);
}

/* Transition hamburger to X when open */
.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Overlay */
.overlay-show,.overlayShow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

/* Stop body scroll */
.stop-scrolling {
  overflow: hidden;
}

/* Hide mobile main menu items */
.mobile-only {
  display: none;
}

/* Mobile menu */
.mobile-main-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background: #000;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

/* Bring menu from right */
.showMenu, .show-menu {
  transform: translateX(0);
}

.mobile-main-menu ul {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding: 50px;
  width: 100%;
}

.mobile-main-menu ul li {
  margin-bottom: 20px;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 1px #555 dotted;
  width: 100%;
  text-align: right;
  padding-bottom: 8px;
}

.mobile-main-menu ul li a {
  color: #fff;
  transition: color 0.6s;
}

.mobile-main-menu ul li a:hover {
  color: #aaa;
}

/* Inner Pages */
.bg-falcon-9 {
  background-image: url('./img/falcon-9.webp');
}
.bg-burn {
  background-image: url('./img/burn.jpg');
}
.bg-income {
  background-image: url('./img/falcon-9.webp');
}

.bg-falcon-heavy {
  background-image: url('./img/falcon-heavy.webp');
}

.bg-dragon {
  background-image: url('./img/dragon.webp');
}
.bg-team {
  background-image: url('./img/dragon.webp');
}

.section-animate {
  animation: fadeIn 2s ease-in-out;
}

.section-inner-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  width: 80%;
}

.section-inner-center h3 {
  font-size: 100px;
  margin-bottom: 15px;
  animation: fadeInUp 0.5s ease-in-out;

}

.section-inner-center p {
  font-size: 20px;
  animation: fadeInUp 0.5s ease-in-out 0.2s;
  animation-fill-mode: both;
}

/* Stats */
.stats {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  text-transform: uppercase;
}

.stats div span {
  font: 48px/55px D-DIN-Light,Arial,Verdana,sans-serif;

}

.stats div h4 {
  font-size: 24px;
  font-weight: 300;
  font: 12px/24px D-DIN-Medium,Arial,Verdana,sans-serif;
}

/* Animations */

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(140px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeBounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }

  40% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Queries */

@media (max-width: 960px) {
  /* Hide desktop menu */
  .desktop-main-menu {
    display: none;
  }

  /* Show main mobile items */
  .mobile-only {
    display: block;
  }

  .section-inner-center h3 {
    font-size: 75px;
  }
}

@media (max-width: 600px) {
  .section-inner {
    bottom: 40px;
    left: 20px;
  }
  .section-inner.card {
    right: 20px;
  }
  .section-inner h2 {
    font-size: 40px;
  }

  footer ul li:first-child {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  footer ul li {
    margin-right: 15px;
  }

  .logo {
    width: 150px;
    margin: auto;
  }

  .section-inner-center h3 {
    font-size: 50px;
    font: 48px/45px D-DIN-Bold,Arial,Verdana,sans-serif;
  }

  /* Stats */
  .stats {
    flex-direction: column;
  }

  .stats div {
    margin-bottom: 20px;
  }
}




#landing .content-tabs, #launches .content-tabs, .btn .text, .overview-additional-specs, .section {
  text-align: center;
}

.content-center, .section-content {
  display: inline-block;
  text-align: center;
  position: relative;
}
.content-center {
  width: 90%;
  height: auto;
  margin: 75px auto;
  max-width: 960px;
}
.column, .column2, .column3 {
  padding: 0;
  text-align: left;
  vertical-align: top;
  margin: 0 1%;
  height: auto;
  display: inline-block;
}
#stats .column3 {
  text-align: center;
}
.column3 {
  width: 30%;
}
#stats .number {
  display: block;
  font: 140px/140px D-DIN-Light,Arial,Verdana,sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
#stats .label {
  display: block;
  font: 22px/32px D-DIN-Medium,Arial,Verdana,sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin: 0;
}
@media screen and (max-width: 960px){
  #stats .number {
      font: 72px/72px D-DIN-Medium,Arial,Verdana,sans-serif;
      font-weight: 400;
      font-style: normal;
      margin: 0;
  }
  #stats .label {
    font: 12px/24px D-DIN-Medium,Arial,Verdana,sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}
@media screen and (max-width: 600px){
  #stats .number {
      font: 48px/55px D-DIN-Light,Arial,Verdana,sans-serif;
      margin: 0;
  }
  #stats .label {
    line-height: 14px;
    max-width: 75%;
    margin: 5px auto 0;
  }
}

.ref_wrapper{
  
}
.line{
  border-top: 1px dashed #fff;
  width: 100%;
  height: 1px;
  padding: 4px 0;
}
.ref_btns{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:#fff;
  margin-top: 10px;
}
.ref_ipt_txt{
  color:#fff;
  border-radius: 10px;
  flex-grow: 2;
  max-width: 70%;
  text-align: center;
  cursor: text;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 10px 15px;
  box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(170, 170, 204, 0.25), inset 5px 5px 10px rgba(170, 170, 204, 0.5), inset -5px -5px 10px #FFFFFF;
}
.ref_ipt_btn{
  cursor: pointer;
  padding: 10px 15px;
  border: 1px solid #fff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 10px;
}
.my_info_warp{
  top: 40px;
}
.inner_item{
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 5px 0;
  color: white;
  font-size: 18px;
}
.action_wrapper{
  margin-top: 30px;
  border-top: 1px dashed #ffffff;
  padding-top: 10px;
}
.action_btns{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.action_btns span{
  text-align: center;
  width: 48%;
  cursor: pointer;
  padding: 10px 15px;
  border: 1px solid #fff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}
.address_txt{
  max-width: 70%;
  text-align: center;
  cursor: text;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.color_card{
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 20px;
  color: #cbd5e1;
  background: #1a25447d;
  box-shadow: inset 2.01px -2.01px 20px rgba(214, 214, 214, 0.17), inset -3.01333px 3.01333px 3.01333px rgba(255, 255, 255, 0.39);
  backdrop-filter: blur(70px);
  padding: 20px 20px 30px;
}
.color_card.blue{
  background: linear-gradient(rgba(25, 31, 50, 0.2), rgb(4 8 20 / 0.01)), rgb(4 8 20 / 0.8);
  box-shadow: inset 0 0 0 1px rgb(200 200 220 / 0.16), inset 0 0 5px -3px #0f2bff, inset 0 12px 48px 0 rgb(160 220 240 / 0.08), inset 0 0 120px -100px #0f2bff;
  border-radius: 16px;
  position: relative;
  padding: 30px;
}
.color_card.blue::before{
  content: "";
  position: absolute;
  inset: 0;
  background-image: radial-gradient(#0f2bff 8%, transparent 8%), radial-gradient(#0f2bff 8%, transparent 8%), radial-gradient(#0f2bff 8%, transparent 8%), radial-gradient(#0f2bff 8%, transparent 8%);
  background-position: 0% 0%, 0% 100%, 100% 0%, 100% 100%;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 6px #0f2bff);
}
.color_card.blue::after{
  content: "";
  position: absolute;
  inset: 0;
  background-color: #0f2bff;
  opacity: 0.2;
  -webkit-mask-image: radial-gradient(90% 90% at 50% 50%, transparent, black);
  mask-image: radial-gradient(90% 90% at 50% 50%, transparent, black);
  filter: url(#noiseFilter);
  z-index: 1;
}
.income_warp h2{
  color: #fff;
  margin-bottom: 10px;
}
.income_item{
  padding-top: 10px;
}
.income_item_tlt{
  color: #fff;
}
.income_item_txt{
  font-weight: 300;
}
.income_item_txt span{
  color: #fff;
}